header {
  text-align: center;
  background-color: aqua;
  margin: 50px auto;
  width: 100%;
  max-width: 700px;
  padding: 20px;
  border-radius: 25px;
  font-size: large;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

section {
  color: rgb(74, 34, 250);
  text-align: center;
  background-color: rgb(255, 255, 255);
  margin: 50px auto;
  width: 100%;
  max-width: 700px;
  padding: 20px;
  border-radius: 25px;
  font-size: large;
}

section button {
  color: aliceblue;
  background-color: rgb(30, 2, 56);
  border-radius: 10px;
  font-size: large;
  margin: 10px;
  cursor: pointer;
}
section p {
  padding: 20px;
  background-color: #0bff2b;
  border-radius: 20px;
}
